.button{
    background-color:blueviolet;
    color:white;
}

button{
    background-color:brown;
    color:white;
    border-width:3px;
    border-style:double;
    
}
.click-me{
 display:block;
 margin-bottom: 20px;   
}