 header {
    min-height: 1000px;
     position: relative;
     /* display: grid; */
     place-items: center;
    
 }

 header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(168, 29, 29, 0.7);
    z-index:90;
 }
.video-container{
    
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: 80;
    }

    


    .video-project{
    position:absolute;    
    z-index:100;
    color:white;
    
    top:700px;
    left:500px;
    }
       
.switch-btn span {
   z-index: 80;
   display: inline-block;
   font-size: 0.85rem;
   cursor: pointer;
   text-transform: capitalize;
   color: var(--clr-primary-5);
}
    